.groupCust{
    border:solid;
    border-color: #5b5858;
}

.groupAuction{
    padding: 25px, 100px, 25px, 100px;
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
}